#section {
  height: 100vh;
  width: 100%;
  padding: $padding-page;

  display: flex;
  align-items: center;
  justify-content: center;

  & .center {
    position: relative;
  }

  & .right,
  & .left {
    position: absolute;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $white45;
  }
}
