// @font-face {
//   font-family: 'ailerons';
//   src: local('ailerons') url('/fonts/ailerons-typeface-webfont.woff2') format('woff2'),
//     local('ailerons'), url('/fonts/ailerons-typeface-webfont.woff') format('woff');
// }

@font-face {
  font-family: 'ailerons';
  src: url('/fonts/ailerons/Ailerons-Regular.eot');
  src: url('/fonts/ailerons/Ailerons-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ailerons/Ailerons-Regular.woff2') format('woff2'),
    url('/fonts/ailerons/Ailerons-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gilroy';
  src: local('gilroy'), url('/fonts/gilroy-bold-webfont.woff2') format('woff2'), local('gilroy'),
    url('/fonts/gilroy-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'gilroy-regular';
  src: local('gilroy-regular'), url('/fonts/gilroy-regular-webfont.woff2') format('woff2'),
    local('gilroy-regular'), url('/fonts/gilroy-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy-medium';
  src: local('gilroy-medium'), url('/fonts/gilroy-medium-webfont.woff2') format('woff2'),
    local('gilroy-medium'), url('/fonts/gilroy-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$ailerons: 'ailerons';
$gilroy: 'gilroy';
$gilroy-reg: 'gilroy-regular';
$gilroy-md: 'gilroy-medium';

// Colors
$bg: #0d0d0d;
$white: #ffffff;
$grey: #515152;

$primary: #ff0b56;
$secondary: #08fdd8;

$white85: rgba(255, 255, 255, 0.85);
$white60: rgba(255, 255, 255, 0.6);
$white45: rgba(255, 255, 255, 0.45);

$pt-brand: #ffc93c;
$kira-brand: #ff2e63;
$sbcart-brand: #032b5c;
$homie-brand: #fe8668;

$neu-bg: rgba(13, 13, 13, 0.94);
$card-bg: rgba(36, 36, 36, 0.94);
$nav-bg: linear-gradient(to bottom, rgba($primary, 1), rgba($primary, 0.9));

// Gradients
$nav-selected: linear-gradient(90deg, #ff0b56 0%, rgba(254, 134, 104, 0.84) 26.56%, #ffffff 100%);
$sb-brand: linear-gradient(
  90deg,
  #fe8668 0%,
  rgba(254, 167, 145, 0.84) 48.23%,
  rgba(255, 255, 255, 0.86) 100%
);
$glass-grad1: linear-gradient(180deg, #ff0b56 0%, #511b2c 100%);
$glass-grad2: linear-gradient(180deg, #08fdd8 0%, #08322c 100%);

// Typography
$reg: 400;
$med: 500;
$bold: bold;

// Paddings
$padding-page: 5rem 0 2rem;

// Line height
$lh: 1.7;

// Breakpoints
$lg: 1200px;
$md: 1100px;
$sm: 850px;
$xs: 650px;
