.navbar {
  width: 100vw;
  position: fixed;
  top: 1.5rem;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  & .logo-icon,
  & .ham-icon {
    z-index: 1000;
    cursor: pointer;
  }
}

.navmenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: $nav-bg;
  padding: 5rem 3rem 2rem;

  & ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    list-style: none;
    text-align: center;
    margin-top: 1rem;

    & li {
      margin: 0.8rem;
      cursor: pointer;
      transition: 800ms text-fill-color ease-in-out;
      display: inline;

      &:hover {
        background: $sb-brand;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      & a {
        color: $white;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .navbar {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: $md) {
  .navbar {
    padding: 0 1.2rem;
  }
}

@media screen and (max-width: $sm) {
  .navbar {
    padding: 0 1rem;
    & .logo-icon,
    & .ham-icon {
      height: 35px;
      width: 35px;
    }
  }

  .navmenu {
    & ul {
      margin-top: 1rem;

      & li {
        margin: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: $xs) {
  .navbar {
    padding: 0 1rem;
    & .logo-icon,
    & .ham-icon {
      height: 30px;
      width: 30px;
    }
  }
  .navmenu {
    & ul {
      margin-top: 2rem;

      & li {
        margin: 0.3rem;
      }
    }
  }
}
