.newsection {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  & .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    & .center {
      position: relative;
    }

    & .right,
    & .left {
      position: absolute;
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $white45;
    }
  }
}

@media screen and (max-width: $lg) {
  .newsection {
    padding: $padding-page;

    & .right,
    & .left {
      position: absolute;
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $white45;
    }
  }
}

@media screen and (max-width: $md) {
}

@media screen and (max-width: $sm) {
  .newsection {
    width: 100vw !important;
    overflow-x: hidden !important;

    & .title-wrapper {
      position: static !important; 
      & .right,
      & .left,
      & .center {
        overflow-x: hidden !important;
      }
    }
  }
}
