@import './partials/constants';
@import './partials/mixins';
@import './partials/common';

* {
  margin: 0;
  padding: 0;
  font-family: gilroy !important;
  box-sizing: border-box;
}

#App {
  font-family: gilroy !important;
  background-color: $bg;
  padding: 5rem 3rem 2rem;
  color: $white;
  min-height: 100vh;
  ::selection {
    color: $primary;
  }
}

@import './screens/home';
@import './partials/navbar';
